# Python virtual environment
venv/
ENV/
env/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# SQLite Database
weather.db

# Environment & Secret files
.env

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
